<style>
body{
    background:#c5ce4c;
  }
  @media screen and (max-device-width: 768px){
    body{
      background:green;
    }
  }
p{
  color:rgba(15, 46, 223, 0.8);
  font-size:40px;
}
</style>